<h2 mat-dialog-title>Editar Usuario</h2>
<mat-dialog-content>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="data.firstname" name="firstname" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="data.lastname" name="lastname" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="data.email" name="email" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput [(ngModel)]="data.phone" name="phone" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="data.username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password (dejar vacío si no deseas cambiar)</mat-label>
            <input matInput [(ngModel)]="data.password" name="password" type="password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Rol</mat-label>
            <mat-select [(ngModel)]="data.role" name="role" required>
                <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>